body {
  text-align: center;
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(248, 184, 139, 0) 20%,
      rgba(248, 184, 139, 0.1) 20%,
      rgba(248, 184, 139, 0.1) 40%,
      rgba(248, 184, 139, 0.2) 40%,
      rgba(248, 184, 139, 0.2) 60%,
      rgba(248, 184, 139, 0.4) 60%,
      rgba(248, 184, 139, 0.4) 80%,
      rgba(248, 184, 139, 0.5) 80%
    ),
    linear-gradient(
      45deg,
      rgba(250, 248, 132, 0.3) 20%,
      rgba(250, 248, 132, 0.4) 20%,
      rgba(250, 248, 132, 0.4) 40%,
      rgba(250, 248, 132, 0.5) 40%,
      rgba(250, 248, 132, 0.5) 60%,
      rgba(250, 248, 132, 0.6) 60%,
      rgba(250, 248, 132, 0.6) 80%,
      rgba(250, 248, 132, 0.7) 80%
    ),
    linear-gradient(
      -45deg,
      rgba(186, 237, 145, 0) 20%,
      rgba(186, 237, 145, 0.1) 20%,
      rgba(186, 237, 145, 0.1) 40%,
      rgba(186, 237, 145, 0.2) 40%,
      rgba(186, 237, 145, 0.2) 60%,
      rgba(186, 237, 145, 0.4) 60%,
      rgba(186, 237, 145, 0.4) 80%,
      rgba(186, 237, 145, 0.6) 80%
    ),
    linear-gradient(
      90deg,
      rgba(178, 206, 254, 0) 20%,
      rgba(178, 206, 254, 0.3) 20%,
      rgba(178, 206, 254, 0.3) 40%,
      rgba(178, 206, 254, 0.5) 40%,
      rgba(178, 206, 254, 0.5) 60%,
      rgba(178, 206, 254, 0.7) 60%,
      rgba(178, 206, 254, 0.7) 80%,
      rgba(178, 206, 254, 0.8) 80%
    ),
    linear-gradient(
      -90deg,
      rgba(242, 162, 232, 0) 20%,
      rgba(242, 162, 232, 0.4) 20%,
      rgba(242, 162, 232, 0.4) 40%,
      rgba(242, 162, 232, 0.5) 40%,
      rgba(242, 162, 232, 0.5) 60%,
      rgba(242, 162, 232, 0.6) 60%,
      rgba(242, 162, 232, 0.6) 80%,
      rgba(242, 162, 232, 0.8) 80%
    ),
    linear-gradient(
      180deg,
      rgba(254, 163, 170, 0) 20%,
      rgba(254, 163, 170, 0.4) 20%,
      rgba(254, 163, 170, 0.4) 40%,
      rgba(254, 163, 170, 0.6) 40%,
      rgba(254, 163, 170, 0.6) 60%,
      rgba(254, 163, 170, 0.8) 60%,
      rgba(254, 163, 170, 0.8) 80%,
      rgba(254, 163, 170, 0.9) 80%
    );
  background-color: rgb(254, 163, 170);
  background-size: 100% 100%;
  min-height: 100%;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
}
.homeflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.homeflex > div {
  margin: 1vw;
}

body h1 {
  font-family: "Koulen", cursive;
  font-size: 10vh;
  margin: 0;
}
body p {
  font-family: "Ubuntu Mono", monospace;
  font-size: 3vh;
}
/* .logo {
    height:9vh;
    width: 9vw;
    border-radius: 50%;
} */
.navcss {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

.navlinks {
  text-decoration: none;
  margin: 0vh 1.5vw;
  font-family: "Ubuntu Mono", monospace;
  font-size: 2vh;
}

.homeimg > img {
  width: 10vh;
  height: 10vh;
  margin-bottom: -4vh;
  margin-right: 70vw;
}

@media (max-width: 428px) {
  body {
    height: 100vw;
    background: linear-gradient(
        180deg,
        rgba(248, 184, 139, 0) 20%,
        rgba(248, 184, 139, 0.1) 20%,
        rgba(248, 184, 139, 0.1) 40%,
        rgba(248, 184, 139, 0.2) 40%,
        rgba(248, 184, 139, 0.2) 60%,
        rgba(248, 184, 139, 0.4) 60%,
        rgba(248, 184, 139, 0.4) 80%,
        rgba(248, 184, 139, 0.5) 80%
      ),
      linear-gradient(
        45deg,
        rgba(250, 248, 132, 0.3) 20%,
        rgba(250, 248, 132, 0.4) 20%,
        rgba(250, 248, 132, 0.4) 40%,
        rgba(250, 248, 132, 0.5) 40%,
        rgba(250, 248, 132, 0.5) 60%,
        rgba(250, 248, 132, 0.6) 60%,
        rgba(250, 248, 132, 0.6) 80%,
        rgba(250, 248, 132, 0.7) 80%
      ),
      linear-gradient(
        -45deg,
        rgba(186, 237, 145, 0) 20%,
        rgba(186, 237, 145, 0.1) 20%,
        rgba(186, 237, 145, 0.1) 40%,
        rgba(186, 237, 145, 0.2) 40%,
        rgba(186, 237, 145, 0.2) 60%,
        rgba(186, 237, 145, 0.4) 60%,
        rgba(186, 237, 145, 0.4) 80%,
        rgba(186, 237, 145, 0.6) 80%
      ),
      linear-gradient(
        90deg,
        rgba(178, 206, 254, 0) 20%,
        rgba(178, 206, 254, 0.3) 20%,
        rgba(178, 206, 254, 0.3) 40%,
        rgba(178, 206, 254, 0.5) 40%,
        rgba(178, 206, 254, 0.5) 60%,
        rgba(178, 206, 254, 0.7) 60%,
        rgba(178, 206, 254, 0.7) 80%,
        rgba(178, 206, 254, 0.8) 80%
      ),
      linear-gradient(
        -90deg,
        rgba(242, 162, 232, 0) 20%,
        rgba(242, 162, 232, 0.4) 20%,
        rgba(242, 162, 232, 0.4) 40%,
        rgba(242, 162, 232, 0.5) 40%,
        rgba(242, 162, 232, 0.5) 60%,
        rgba(242, 162, 232, 0.6) 60%,
        rgba(242, 162, 232, 0.6) 80%,
        rgba(242, 162, 232, 0.8) 80%
      ),
      linear-gradient(
        180deg,
        rgba(254, 163, 170, 0) 20%,
        rgba(254, 163, 170, 0.4) 20%,
        rgba(254, 163, 170, 0.4) 40%,
        rgba(254, 163, 170, 0.6) 40%,
        rgba(254, 163, 170, 0.6) 60%,
        rgba(254, 163, 170, 0.8) 60%,
        rgba(254, 163, 170, 0.8) 80%,
        rgba(254, 163, 170, 0.9) 80%
      );
    background-color: rgb(254, 163, 170);
    background-size: 100% 100%;
    min-height: 100%;
  }
  div > p {
    font-size: 2vh;
  }
  .mobileimg {
    width: 15vw;
    height: 15vh;
  }
  .mobileimgp {
    font-size: 2vh;
    margin: 0;
    padding: 0;
    height: 2vh;
    line-height: 1vh;
  }
  .homeflex {
    padding: 0;
    margin: 0;
    height: 0vh;
  }
  .navcss {
    margin: 0;
    padding: 0;
  }
  .mobilediv {
    height: 20vh;
  }
  .mobilediv > p {
    width: 100vw;
    text-align: center;
  }
  .navcss {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .homeimg > img {
    width: 10vh;
    height: 10vh;
    margin-left: 30vw;
  }
  .homeimg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
